.choiceOption {
  font-size: 14px !important;
  line-height: 18.2px !important;
  padding: 8px !important;
}

.answerInput {
  font-size: 14px !important;
  line-height: 18.2px !important;
}

.opinionScaleOption {
  font-size: 14px !important;
  line-height: 18.2px !important;
  padding: 4px !important;
  height: 32px !important;
  width: 32px !important;
}

.yesNoOptionContainer :global(.twigs-button__content) > div > p {
  font-size: 14px !important;
  line-height: 18.2px !important;
}

.yesNoOptionContainer button {
  width: 90px !important;
}

.yesNoOptionContainer :global(.twigs-button__content) > svg {
  width: 24px !important;
  height: 24px !important;
}

.yesNoOptionContainer :global(.twigs-button__content) > div > div > p {
  font-size: 12px !important;
  line-height: 15.6px !important;
}

.yesNoOptionContainer :global(.twigs-button__content) > div > div {
  height: 20px !important;
  width: 20px !important;
}